/* CSS styles */

.hidden {
  display: none;
}

#gameArea {
  position: relative;
  width: 100%;
  height: 80vh; /* Adjust based on your preference */
  background-color: #add8e6;
  margin: auto;
}

#haraboji {
  position: absolute;
  bottom: 10px;
  width: 50px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  background-image: url('haraboji-image-url'); /* Use Haraboji image URL here */
  background-size: cover;
}

#score {
  text-align: center;
  font-size: 24px;
}

body {
    background-image: url('https://i.ibb.co/jDTb5qF/background.webp');
    background-size: cover;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}
